@model RuxSchool.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Standard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Standard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RollNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
